.btn-km {
  width: 100%;
  background: #6a00ff;
  color: #fff;
  padding: 14px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-km:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.btn-km.ok {
  background: #16a34a;
}
